.serviceList {
  list-style: none;
  padding: 0;
  li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #b9b9b9;
    &:last-child {
      border: none;
    }
    p {
      margin: 0;
    }
  }
}
